<div class="w-50 text-center container">

    <!-- Username input -->
    <div class="form-outline mb-4">
        <input type="text" id="formUsername" class="form-control" placeholder="Username"/>
        {% comment %} <label class="form-label" for="form2Example1">Email address</label> {% endcomment %}
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
        <input type="password" id="formPassword" class="form-control" placeholder="Password"/>
        {% comment %} <label class="form-label" for="form2Example2">Password</label> {% endcomment %}
    </div>

    <button type="submit" class="btn btn-primary btn-block">Sign in</button>
    <p class="pt-2" href="/sleep/register">Don't have an account? <a href="/sleep/register">Register</a></p>
</div> 